/* Reset default margin, padding, and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
  background-color: #11a27f;
}

/* Styling for tag line */

.tag-line {
  background-color: #353441;
  border-radius: 4px;
  padding: 0.5rem;
  font-weight: 300;
  font-size: 1rem;
}

/* Styling for application heading */

.app-heading {
  font-size: 4rem;
  margin: 0.5rem 0rem 1rem 0rem;
}

/* Styling for main container */

.App {
  display: flex;
  position: absolute;
  top: 22rem;
  left: 48rem;
  transform: translate(-50%, -50%);
  height: 40rem;
  width: 90rem;
  padding: 3rem 5rem;
  border-radius: 2rem;
  color: #fdfafb;
  background-color: #444654;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* Styling for left container */

.left-container {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 2rem;
  padding-right: 10rem;
  flex: 0 0 50rem;
  font-size: 1.2rem;
  font-weight: 500;
}

/* Styling for input section */

.input-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

/* Styling for input fields */

.input-fields {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: none;
  border-style: none;
  color: #fdfafb;
  background-color: #353441;
  --tw-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 0 15px var(--tw-shadow-color);
  box-shadow: 0 0 transparent, 0 0 transparent, var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

/* Styling for button */

button {
  position: absolute;
  font-size: 2rem;
  font-weight: 700;
  left: 13rem;
  bottom: 6rem;
  height: 4rem;
  width: 15rem;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: none;
  border-style: none;
  color: #fdfafb;
  background-color: #353441;
  border: none;
  cursor: pointer;
}

/* Styling for right container */

.right-container {
  flex: 0 0 30rem;
  padding: 1rem 2rem;
  background-color: #353441;
  border-radius: 1rem;
  overflow-y: scroll;
}
.right-container::-webkit-scrollbar {
  width: 0.5em; /* Adjust the width as needed */
}

.right-container::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide the thumb */
}
.text-header {
  margin-bottom: 1.5rem;
}
.list-item {
  margin: 0.5rem;
}

/* Styling for loading progress */

.loading-line {
  width: 100%;
  height: 8px;
  background-color: #f0f0f0;
  border-radius: 4px;
  margin-top: 8px;
}

.loading-progress {
  height: 100%;
  background-color: #11a27f;
  border-radius: 4px;
  transition: width 1s ease-in-out;
}

/* Media query for smaller screens */
@media (max-width: 420px) {
  html {
    font-size: 62.5%;
  }
  .tag-line {
    font-size: 2rem;
  }
  .App {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    top: 1rem;
    left: 1.4rem;
    transform: translate(0, 0);
    height: 150rem;
    width: 35rem;
    padding: 2rem;
  }

  .left-container {
    display: block;
    flex: 0 0 0;
    gap: 0;
    width: 35rem;
    font-size: 2rem;
    font-weight: 500;
    padding: 2rem 5rem 0 1rem;
  }

  .app-heading {
    font-size: 6rem;
  }
  button {
    margin: 2rem;
    position: relative;
    bottom: 0;
    left: 1rem;
    height: 6rem;
    width: 22rem;
    font-size: 2.8rem;
  }
  .input-section {
    padding: 2rem 2rem 2rem 1rem;
    display: grid;
    margin-top: 1rem;
    grid-template-columns: 1fr;
  }
  .input-fields {
    font-size: 2rem;
    padding: 1rem;
  }

  .text-header {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .right-container {
    flex: 0 0 55rem;
    font-size: 2.4rem;
    height: 40rem;
    padding: 1rem 1rem 1rem 2rem;
  }
}
